name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
  FORCE_COLOR: 3

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Continuous Integration
    env:
      CI: true
      DATABASE_URL: ${{ vars.DATABASE_URL }}
      NEXTAUTH_SECRET: ${{ vars.NEXTAUTH_SECRET }}
      DISCORD_CLIENT_ID: ${{ vars.DISCORD_CLIENT_ID }}
      DISCORD_CLIENT_SECRET: ${{ vars.DISCORD_CLIENT_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - name: Lint
        run: bun lint
      - name: Format
        run: bun format
      - name: Typecheck
        run: bun typecheck
